/*  Back Top Button  */
#back-top {
  position: fixed;
  bottom: 30px;
  right: 100px;
  transition: all 0.5s ease-out;
  opacity: 0;
}
#back-top a {
  width: 54px;
  height: 54px;
  display: block;
  background: #ddd no-repeat center center;
  background-color: #aaa;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  background-color: #777;
}
#back-top.fadeIn {
  opacity: 1;
  
}
